<h1>Articles</h1>
<%= link_to "Add an article", articles_new_path %>
<ul>
  <% @articles.each do |article| %>
    <li> <h2><%= link_to article[:title], article_path(article) %></h2> 
    <br><%= article[:content] %>
    <p><%= link_to "Edit the article", edit_article_path(article) %></p>
    <p><%= link_to "Remove an article", article_path(article), method: :delete %></p>
    </li>
  <% end %>
</ul>



